/*Mouse position left to fullscreen control*/
.ol-mouse-position {
    right: 10px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    padding: 2.5px;
    background: rgba(0, 60, 136, 0.5);
    background-clip: padding-box;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}
/*Zoom controls below title*/
.ol-zoom {
    top: 67px;
    left: 3px;
}
/*Styles the title*/
#title {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    line-height: 0px;
    text-align: center;
    background: rgba(73, 116, 169, 0.7);
    border-radius: 4px;
    width: 440px;
    height: 40px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    margin: 4px;
    padding: 8px;
}
/*Set the header 1 (h1) color to white*/
h1 {
    color: white;
}
/*Set the map to fill out the whole browser window - still a minor bug though*/
#map {
    position: fixed;
    height: 100%;
    width: 100%;
}
/*Set the full-screen controls to bottom right*/
.ol-full-screen {
    right: 0.9;
    top:  calc(100% - 3.8em);
}
/*Overview button defined not to overlap*/
.ol-overviewmap {
    left: 8px;
    bottom: 34px;
}
/*Popup width and height*/
.popover {
    width: 200px;
    height: auto;
}
