/*Mouse position left to fullscreen control*/
.ol-mouse-position {
    right: 0.15em;
    top: 0.15em;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    padding: 2.5px;
    background: rgba(0, 60, 136, 0.5);
    background-clip: padding-box;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}
/*Zoom controls position*/
.ol-zoom {
    top: 67px;
    left: 0.15em;
}
/*Styles the title*/
#title {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    line-height: 0px;
    text-align: center;
    background: rgba(73, 116, 169, 0.7);
    border-radius: 4px;
    width: 440px;
    height: 40px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    margin: 4px;
    padding: 8px;
}
/*Set the header 1 (h1) color to white*/
h1 {
    color: white;
}
/*Set the map to fill out the whole browser window*/
#map {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
/*Set the background logo, that shows behind the map*/
#logo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: url("background_polimi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15em;
    opacity: 0.4;
}
/*Set the full-screen controls to bottom right*/
.ol-full-screen {
    right: 0.15em;
    top:  calc(100% - 2.6em);
}
/*Overview button defined not to overlap*/
.ol-overviewmap {
    left: 0.15em;
    bottom: 34px;
}
/*Popup width and height*/
.popover {
    width: 200px;
    height: auto;
}
/*Attribution position*/
.ol-attribution {
    right: 2.7em;
    top: calc(100% - 2.6em);
}
/*Layerswitcher position*/
.ol.control.LayerSwitcher {
    right: 0.15em;
    top: 100%;
}
