/*Mouse position left to fullscreen control*/
.ol-mouse-position {
    right: 4.5em;
    top: 0.15em;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    padding: 2.5px;
    background: linear-gradient(to right, rgba(150, 150, 150, 0.7), rgba(100, 100, 100, 0.7));
    background-clip: padding-box;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}
/*Zoom controls position*/
.ol-zoom {
    top: 3.5em;
    left: 0.15em;
}
/*Styles the title*/
#title {
    position: absolute;
    left: 0.25em;
    top: 0.15em;
    z-index: 1;
    line-height: 0em;
    text-align: center;
    background: linear-gradient(to right, rgba(150, 150, 150, 0.7), rgba(100, 100, 100, 0.7));
    border-radius: 5px;
    width: 17em;
    height: 3.1em;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin: 0.15em;
    padding: 0.15em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
titletext {
    position: absolute;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
    top: 0.7em;
    left: 0.15em;
    color: white;
}
/*Set the map to fill out the whole browser window*/
#map {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
/*Set the background logo, that shows behind the map*/
#logo {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: url("background_polimi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15em;
    opacity: 0.4;
}
/*Set the full-screen controls to bottom right*/
.ol-full-screen {
    right: 0.15em;
    top:  calc(100% - 2.6em);
}
/*Overview button defined not to overlap*/
.ol-overviewmap {
    left: 0.15em;
    bottom: 34px;
}
/*Popup width and height*/
.popover {
    width: 300px;
    height: 400px;
    overflow: auto;
}
/*Attribution position*/
.ol-attribution {
    right: 2.7em;
    top: calc(100% - 2.6em);
}
/*Scaleline position*/
.ol-scale-line {
    position: absolute;
    bottom: 0.25em;
    left: 0.25em;
    background: linear-gradient(to right, rgba(150, 150, 150, 0.7), rgba(100, 100, 100, 0.7));
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}
/*The Popup Window for the GetFeatureInfo*/
#get-feature-info {
    position: absolute;
    left: 0;
    bottom: 0em;
    z-index: 1;
    background: linear-gradient(to right, rgba(168, 168, 168, 0.9), rgba(100, 100, 100, 0.9));
    border: 1px solid white;
    border-radius: 3px;
    width: 11.5em;
    height: 6.3em;
}
/*Box for the information displayed in the popup window in the GetFeatureInfo*/
iframe {
    border: 0px;
    height: 110px;
    width: 90vw;
}
/*Styling the control buttons*/
.ol-control button{
    background: linear-gradient(to right, rgba(168, 168, 168, 0.7), rgba(84, 84, 84, 0.7));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}